---
layout: default
---
      <!-- Hero -->
      <section class="overflow-hidden">
        <div class="container pt-2 pt-sm-4 pb-sm-2 pb-md-4 py-xl-5">
          <div class="row align-items-center py-5 mt-md-2 my-lg-3 my-xl-4 my-xxl-5">
            <div class="col-lg-7 order-lg-2 d-flex justify-content-center justify-content-lg-end mb-4 mb-md-5 mb-lg-0 pb-3 pb-md-0">
              <div class="parallax me-lg-n4 me-xl-n5" style="max-width: 667px;">
                <!-- <div class="parallax-layer" data-depth="0.1">
                  <img src="assets/img/landing/business-consulting/hero/01.png" alt="Layer">
                </div>
                <div class="parallax-layer" data-depth="-0.2">
                  <img src="assets/img/landing/business-consulting/hero/02.png" alt="Layer">
                </div>
                <div class="parallax-layer" data-depth="0.25">
                  <img src="assets/img/landing/business-consulting/hero/03.png" alt="Layer">
                </div> -->
                <div class="parallax-layer" data-depth="0.25">
                    <img src="assets/img/hero3.png" alt="Layer">
                  </div>
              </div>
            </div>
            <div class="col-lg-5 order-lg-1">
              <h1 class="display-3 text-center text-lg-start pb-sm-2 pb-md-3">LIBÉREZ VOS TECHNOLOGIES</h1>
              <p class="fs-lg text-center text-lg-start pb-xl-2 mx-auto mx-lg-0 mb-5" style="max-width: 420px;">Nous offrons des solutions créatives et
                innovantes afin de vous permettre d’affronter les défis liés aux technologie en constante évolution.</p>
                <a href="https://calendrier.signalorange.tech/jacob">
                <button class="btn btn-primary" type="button">Prendre rendez-vous</button>
                </a>
            </div>
          </div>
        </div>
      </section>

      <!-- CEO quote + Process steps -->
      <section class="overflow-hidden">
        <div class="container pb-5 my-xl-3 my-xxl-5">
            <h2 class="h1 text-center">Notre façon de faire</h2>
      <p class="text-center mb-0">Chez nous, la recette est simple :</p>
          <div class="row pb-md-3 pb-lg-4 mb-2 mb-lg-3">

            <!-- CEO quote -->
            <div class="col-md-5 d-flex flex-column align-items-center mb-4 mb-md-0">
              <div class="position-relative" style="max-width: 416px;">
                <img class="d-block position-relative z-2" src="assets/img/jacob2.png" alt="Jacob Roy">
                <div class="bg-primary position-absolute start-0 bottom-0 w-100" style="height: 85.4%; border-radius: 2.25rem 8rem 2.25rem 2.25rem;"></div>
              </div>
              <div class="text-center text-md-start pt-3 mt-3">
                <h2 class="mb-2">Jacob Roy</h2>
                <p class="fs-xl text-body-secondary mb-2">Fondateur, SignalOrange</p>
                <div class="position-relative pt-4" style="max-width: 500px;">
                  <div class="position-absolute top-0 start-0 w-100 text-center text-md-start ms-md-1">
                    <svg class="text-border" width="155" height="111" viewBox="0 0 155 111" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M125.969 38.7937C129.372 30.2345 134.734 21.7781 141.902 13.6311C144.17 11.053 144.48 7.34066 142.623 4.45316C141.18 2.18441 138.808 0.94696 136.23 0.94696C135.508 0.94696 134.786 0.99826 134.064 1.25633C118.905 5.69065 83.4811 21.4171 82.5014 71.8454C82.1407 91.2842 96.3717 107.99 114.883 109.898C125.144 110.93 135.353 107.578 142.933 100.772C150.512 93.914 154.844 84.117 154.844 73.9077C154.844 56.8922 142.778 41.9905 125.969 38.7937Z"></path>
                      <path d="M32.5904 109.898C42.7999 110.93 53.0092 107.578 60.5888 100.772C68.1686 93.914 72.5 84.117 72.5 73.9077C72.5 56.8922 60.4342 41.9905 43.6248 38.7937C47.0281 30.2345 52.3905 21.7781 59.5578 13.6312C61.8265 11.0531 62.1359 7.34071 60.2794 4.45321C58.8358 2.18446 56.4638 0.947006 53.8857 0.947006C53.1641 0.947006 52.4421 0.998306 51.7202 1.25638C36.5608 5.6907 1.13734 21.4172 0.157654 71.8454V72.5671C0.157654 91.6968 14.2341 107.99 32.5904 109.898Z"></path>
                    </svg>
                  </div>
                  <p class="fs-xl position-relative z-2 mb-0">Nous nous basons sur deux valeurs importantes : <strong>la résilience et la créativité</strong>. SignalOrange prône la quête de résilience dans ce
                    qui a trait aux enjeux techniques et informatiques.</p>
                </div>
              </div>
            </div>

            <!-- Steps -->
            <div class="col-md-7 col-lg-6 col-xxl-5 offset-lg-1 offset-xxl-2">
              <div class="ps-md-4 ps-lg-0">
                <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back">
                  <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y z-2 pe-none">01</div>
                  <div class="card border-0 ps-3 bg-secondary" style="width: calc(100% - 1.75rem);">
                    <div class="card-body ps-4">
                      <h3 class="h5 card-title pb-2 mb-1">Formulation du problème</h3>
                      <p class="card-text">La Zone Orange: une perte de contrôle face à vos technologies informatiques ou bien un processus d’affaires ralenti.</p>
                    </div>
                  </div>
                </div>
                <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="250">
                  <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y z-2 pe-none">02</div>
                  <div class="card border-0 ps-3 bg-secondary" style="width: calc(100% - 1.75rem);">
                    <div class="card-body ps-4">
                      <h3 class="h5 card-title pb-2 mb-1">Revue de l'état actuel</h3>
                      <p class="card-text">SignalOrange se déplace pour vous, dans vos bureaux, dans le but de mettre fin à cette alerte.</p>
                    </div>
                  </div>
                </div>
                <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="500">
                  <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y z-2 pe-none">03</div>
                  <div class="card border-0 ps-3 bg-secondary" style="width: calc(100% - 1.75rem);">
                    <div class="card-body ps-4">
                      <h3 class="h5 card-title pb-2 mb-1">Création du plan de projet</h3>
                      <p class="card-text">Nous sommes outillés pour faciliter le processus d’affaires et notre accompagnement vous
                        donnera la possibilité de devenir plus indépendants dans vos opérations quotidiennes.</p>
                    </div>
                  </div>
                </div>
                <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="700">
                  <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y z-2 pe-none">04</div>
                  <div class="card border-0 ps-3 bg-secondary" style="width: calc(100% - 1.75rem);">
                    <div class="card-body ps-4">
                      <h3 class="h5 card-title pb-2 mb-1">Implémentation de la stratégie</h3>
                      <p class="card-text">SignalOrange offre des solutions créatives,
                        innovantes afin de permettre aux décideurs d’affronter les défis liés à une technologie qui évolue rapidement.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Services grid -->
      <section class="container pb-5 mb-5">
        <h2 class="h1 text-center">Nos services</h2>
        <p class="text-center pb-4 mb-2 mb-lg-3">Nous offrons plusieurs services de consultation, adaptés à vos besoins.</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

          <!-- Item -->
          <div class="col">
            <a class="card card-hover-primary border-0 h-100 text-decoration-none bg-secondary" href="/services/#accompagnement">
              <div class="card-body pb-0">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none" style="border:none;">
                    <i class="bi bi-person-raised-hand mb-4 fs-1 "></i>
                  </div>
                
                <h3 class="h4 card-title mt-0">Accompagnement technologique</h3>
                <p class="card-text">Un accompagnement personnalisé, vous guidant vers les bons choix technologiques.</p>
              </div>
              <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none">
                  <i class="bi bi-arrow-right-short fs-3"></i>
                </div>
              </div>
            </a>
          </div>

          <!-- Item -->
          <div class="col">
            <a class="card card-hover-primary border-0 h-100 text-decoration-none bg-secondary" href="/services/#integration">
              <div class="card-body pb-0">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none" style="border:none;">
                <i class="bi bi-database-check mb-4 fs-1"></i></div>
                <h3 class="h4 card-title mt-0">Intégrations de logiciels</h3>
                <p class="card-text">Créez une synergie entre tous vos outils, grâce à des ponts fait sur mesure entre tous vos logiciels.</p>
              </div>
              <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none">
                  <i class="bi bi-arrow-right-short fs-3"></i>
                </div>
              </div>
            </a>
          </div>

          <!-- Item -->
          <div class="col">
            <a class="card card-hover-primary border-0 h-100 text-decoration-none bg-secondary" href="/services/#domaines">
              <div class="card-body pb-0">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none" style="border:none;">
                <i class="bi bi-cloud-check mb-4 fs-1"></i></div>
                <h3 class="h4 card-title mt-0">Gestion de domaines</h3>
                <p class="card-text">Laissez-nous gérer cette bureaucratie et concentrez-vous sur votre valeur ajoutée.</p>
              </div>
              <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none">
                  <i class="bi bi-arrow-right-short fs-3"></i>
                </div>
              </div>
            </a>
          </div>

          <!-- Item -->
          <div class="col">
            <a class="card card-hover-primary border-0 h-100 text-decoration-none bg-secondary" href="/services/#cybersecurite">
              <div class="card-body pb-0">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none" style="border:none;">
                <i class="bi bi-shield-lock mb-4 fs-1"></i></div>
                <h3 class="h4 card-title mt-0">Cybersécurité</h3>
                <p class="card-text">Plans d'action personnalisés et basés sur les bonnes pratiques, pour renforcer votre cybersécurité.</p>
              </div>
              <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none">
                  <i class="bi bi-arrow-right-short fs-3"></i>
                </div>
              </div>
            </a>
          </div>

          <!-- Item -->
          <div class="col">
            <a class="card card-hover-primary border-0 h-100 text-decoration-none bg-secondary" href="/services/#fidelio">
              <div class="card-body pb-0">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none" style="border:none;">
                <i class="bi bi-code-square mb-4 fs-1"></i></div>
                <h3 class="h4 card-title mt-0">Développement Fidelio</h3>
                <p class="card-text">Notre expert Fidelio peut vous aider à améliorer vos processus d'affaires, créer du Code Client et toutes les manipulations SQL nécessaires.</p>
              </div>
              <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none">
                  <i class="bi bi-arrow-right-short fs-3"></i>
                </div>
              </div>
            </a>
          </div>

          <!-- Item -->
          <div class="col">
            <a class="card card-hover-primary border-0 h-100 text-decoration-none bg-secondary" href="https://signalorange.tech/bitcoin/">
              <div class="card-body pb-0">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none" style="border:none;">
                <i class="bi bi-currency-bitcoin mb-4 fs-1"></i></div>
                <h3 class="h4 card-title mt-0">Enseignement Bitcoin</h3>
                <p class="card-text">Ateliers en entreprise pour comprendre cette nouvelle réalité, s'y adapter et éviter les arnaques.</p>
              </div>
              <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                <div class="btn btn-lg btn-icon btn-outline-primary squared-circle pe-none">
                  <i class="bi bi-arrow-right-short fs-3"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
<!-- Clients (Logos autoplay slider) 
<section class="pb-5 pt-2 pt-sm-3 pt-md-4 pt-lg-5 my-xl-3 my-xxl-5">
    <div class="container pb-4 mb-2 mb-lg-3">
      <h2 class="h1 text-center">Nos clients</h2>
      <p class="text-center mb-0">Plus de 20 clients utilisent les services de SignalOrange</p>
    </div>
    <div class="swiper pb-4" data-swiper-options='{
      "spaceBetween": 24,
      "loop": true,
      "grabCursor": false,
      "centeredSlides": true,
      "autoplay": {
        "delay": 0,
        "disableOnInteraction": false
      },
      "freeMode": true,
      "speed": 10000,
      "freeModeMomentum": false,
      "breakpoints": {
        "0": { "slidesPerView": 2 },
        "400": { "slidesPerView": 3 },
        "600": { "slidesPerView": 4 },
        "800": { "slidesPerView": 5 },
        "1200": { "slidesPerView": 6 },
        "1400": { "slidesPerView": 7 },
        "1600": { "slidesPerView": 8 }
      }
    }'>
      <div class="swiper-wrapper" style="transition-timing-function: linear !important;">
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/01-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/01-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/02-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/02-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/03-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/03-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/04-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/04-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/05-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/05-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/06-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/06-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/03-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/03-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/05-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/05-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/02-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/02-light.svg" width="196" alt="Logo">
          </div>
        </div>
      </div>
    </div>
    <div class="swiper" dir="rtl" data-swiper-options='{
      "spaceBetween": 24,
      "loop": true,
      "grabCursor": false,
      "centeredSlides": true,
      "autoplay": {
        "delay": 0,
        "disableOnInteraction": false
      },
      "freeMode": true,
      "speed": 8500,
      "freeModeMomentum": false,
      "breakpoints": {
        "0": { "slidesPerView": 2 },
        "400": { "slidesPerView": 3 },
        "600": { "slidesPerView": 4 },
        "800": { "slidesPerView": 5 },
        "1200": { "slidesPerView": 6 },
        "1400": { "slidesPerView": 7 },
        "1600": { "slidesPerView": 8 }
      }
    }'>
      <div class="swiper-wrapper" style="transition-timing-function: linear !important;">
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/06-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/06-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/05-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/05-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/04-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/04-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/02-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/02-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/03-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/03-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/01-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/01-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/04-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/04-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/02-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/02-light.svg" width="196" alt="Logo">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-gray rounded-4">
            <img class="d-block d-dark-mode-none mx-auto" src="assets/img/landing/business-consulting/clients/03-dark.svg" width="196" alt="Logo">
            <img class="d-none d-dark-mode-block mx-auto" src="assets/img/landing/business-consulting/clients/03-light.svg" width="196" alt="Logo">
          </div>
        </div>
      </div>
    </div>
  </section> -->


 




