<!-- Skills (Carousel) -->
      <section class="py-5 my-2 my-lg-3 my-xl-4 my-xxl-5">
        <div class="container d-flex align-items-center justify-content-between pt-sm-3 pt-md-4 pt-xl-5 pb-4 mb-sm-2 mb-md-3">
          <h2 class="h1 mb-0">Nos compétences</h2>

          <!-- Slaider control button (Prev / Next) -->
          <div class="d-flex gap-3">
            <button class="btn btn-sm btn-icon btn-outline-primary rounded-circle" type="button" id="prev-skill" aria-label="Prev">
              <i class="ai-arrow-left"></i>
            </button>
            <button class="btn btn-sm btn-icon btn-outline-primary rounded-circle" type="button" id="next-skill" aria-label="Next">
              <i class="ai-arrow-right"></i>
            </button>
          </div>
        </div>

        <!-- Swiper slider -->
        <div class="container-start pb-2 pb-sm-3 pb-md-4 pb-lg-5">
          <div class="swiper" data-swiper-options='{
            "slidesPerView": "auto",
            "spaceBetween": 24,
            "loop": true,
            "navigation": {
              "prevEl": "#prev-skill",
              "nextEl": "#next-skill"
            }
          }'>
            <div class="swiper-wrapper text-center">

              <!-- Item -->
              <div class="swiper-slide w-sm-auto h-auto">
                <div class="card card-flip card-hover border-0 w-sm-auto h-100 bg-secondary rounded-5">
                  <div class="card-flip-inner mx-auto" style="max-width: 306px;">
                    <div class="card-flip-front p-0">
                      <div class="card-body d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 opacity-100">
                        <img src="../assets/img/landing/web-studio/skills/braiins.svg" width="200" alt="Braiins">
                      </div>
                    </div>
                    <div class="card-flip-back p-0 bg-transparent">
                      <div class="card-body d-flex flex-column justify-content-center align-items-center h-100">
                        <a href="https://braiins.com" style="text-decoration: none; color: var(--ar-card-color);">
                            <img src="../assets/img/landing/web-studio/skills/braiins.svg" width="152" alt="Braiins">
                            <p class="fs-sm pt-3 mb-0">Optimisez vos opérations, avec une solution complète comprenant un ASIC Autotuning Firmware, la gestion de ferme et le premier pool minier au monde.</p>
                        </a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide w-sm-auto h-auto">
                <div class="card border-0 bg-secondary h-100">
                  <div class="card-body mx-auto" style="max-width: 416px;">
                    <a href="https://hec.ca" style="text-decoration: none; color: var(--ar-card-color);">
                        <p class="fs-lg mb-5">Gestion de projets: gestion d'équipe, leadership, comptabilité de projets et technologies de l'information.</p>
                        <img src="../assets/img/landing/web-studio/skills/hec.svg" width="100" alt="HEC Montréal">
                    </a>
                    </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide w-sm-auto h-auto">
                <div class="card card-flip card-hover border-0 w-sm-auto h-100 bg-secondary rounded-5">
                  <div class="card-flip-inner mx-auto" style="max-width: 306px;">
                    <div class="card-flip-front p-0">
                      <div class="card-body d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 opacity-100">
                        <img src="../assets/img/landing/web-studio/skills/ubuntu.jpg" width="150" alt="Ubuntu">
                      </div>
                    </div>
                    <div class="card-flip-back p-0 bg-transparent">
                      <div class="card-body d-flex flex-column justify-content-center align-items-center h-100">
                        <a href="https://ubuntu.com" style="text-decoration: none; color: var(--ar-card-color);">
                            <img src="../assets/img/landing/web-studio/skills/ubuntu.jpg" width="150" alt="Ubuntu">
                            <p class="fs-sm pt-3 mb-0">Ubuntu Server apporte une évolutivité économique et technique à votre centre de données.</p>
                        </a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide w-sm-auto h-auto">
                <div class="card border-0 bg-secondary h-100">
                  <div class="card-body mx-auto" style="max-width: 416px;">
                    <a href="https://tailscale.com" style="text-decoration: none; color: var(--ar-card-color);">
                        <p class="fs-lg mb-5">Tailscale facilite la création de réseaux définis par logiciel : connectant en toute sécurité les utilisateurs, les services et les appareils.</p>
                        <img class="d-dark-mode-none" src="../assets/img/landing/web-studio/skills/tailscale.png" width="200" alt="Tailscale">
                        <img class="d-none d-dark-mode-inline-block" src="../assets/img/landing/web-studio/skills/tailscale.png" width="200" alt="Tailscale">
                    </a>
                    </div>
                </div>
              </div>

              
              <!-- Item -->
              <div class="swiper-slide w-sm-auto h-auto">
                <div class="card card-flip card-hover border-0 w-sm-auto h-100 bg-secondary rounded-5">
                  <div class="card-flip-inner mx-auto" style="max-width: 306px;">
                    <div class="card-flip-front p-0">
                      <div class="card-body d-flex flex-column justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 opacity-100"><img src="../assets/img/landing/web-studio/skills/python.svg" width="72" alt="Python"></div>
                    </div>
                    <div class="card-flip-back p-0 bg-transparent">
                      <div class="card-body d-flex flex-column justify-content-center align-items-center h-100">
                        <a href="https://python.org" style="text-decoration: none; color: var(--ar-card-color);">
                            <img src="../assets/img/landing/web-studio/skills/python.svg" width="52" alt="Python">
                            <p class="fs-sm pt-3 mb-0">Python est un langage de programmation qui vous permet de travailler rapidement et d'intégrer des systèmes plus efficacement.</p>
                        </a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>