<!-- Footer -->
<footer class="footer pt-lg-5 pt-4 pb-5">
    <div class="container pt-3 mt-md-2 mt-lg-3">
      <div class="row gy-md-5 gy-4 mb-md-5 mb-4 pb-lg-2">
        <div class="col-lg-3">
          <a class="navbar-brand d-inline-flex align-items-center mb-lg-4 mb-3" href="{{ site.url }}">
              <span class="text-primary flex-shrink-0 me-2">
                  <img src="{{ site.baseurl }}/assets/icons/logo_2024.png" alt="SignalOrange Logo" width="120" height="120">       
              </span>
          </a>
          <p class="mb-4 pb-lg-1 fs-xs text-body-secondary" style="max-width: 306px;">Pour libérer vos technologies, libérer l’entrepreneur et optimiser vos processus d’affaires.</p>
          <div class="d-flex mt-n3 ms-n3">
            <a class="btn btn-secondary btn-icon btn-sm rounded-circle mt-3 ms-3" href="https://gitlab.com/couteausuisse" aria-label="GitLab">
              <i class="bi bi-gitlab fs-3"></i>
            </a>
            <a class="btn btn-secondary btn-icon btn-sm rounded-circle mt-3 ms-3" href="https://github.com/lejacobroy" aria-label="GitHub">
              <i class="bi bi-github fs-3"></i>
            </a>
            <a class="btn btn-secondary btn-icon btn-sm rounded-circle mt-3 ms-3" href="https://www.linkedin.com/in/jacob-roy-quebec/" aria-label="LinkedIn">
                <i class="bi bi-linkedin fs-3"></i>
            </a>
            <a class="btn btn-secondary btn-icon btn-sm rounded-circle mt-3 ms-3" href="https://twitter.com/signalorange_qc" aria-label="Twitter">
                <i class="bi bi-twitter fs-3"></i>
            </a>
          </div>
        </div>
        <div class="col-xl-8 offset-xl-1 col-lg-9">
          <div class="row row-cols-sm-4 row-cols-1">
            <div class="col">
              <ul class="nav flex-column mb-0">
                <li class="nav-item mb-2"><a class="nav-link p-0" href="{{ site.baseurl }}/bitcoin/"><i class="bi bi-currency-bitcoin fs-4"></i>Bitcoin</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0" href="{{ site.baseurl }}/services/">Services</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0" href="https://calendrier.signalorange.tech/jacob"">Nous joindre</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0" href="https://facturation.couteausuis.se/client/login">Espace client</a></li>
              </ul>
            </div>

            
          </div>
        </div>
      </div>
      <div class="nav fs-sm text-body-secondary">&copy; Tous droits réservés.</div>
    </div>
  </footer>


  <!-- Back to top button -->
  <a class="btn-scroll-top" href="#top" data-scroll aria-label="Scroll back to top">
    <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
    </svg>
    <i class="ai-arrow-up"></i>
  </a>


  <!-- Vendor scripts: JS libraries and plugins -->
  <script src="{{ site.baseurl }}/assets/vendor/parallax-js/dist/parallax.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/aos/dist/aos.js"></script>

  <!-- Bootstrap + Theme scripts -->
  <script src="{{ site.baseurl }}/assets/js/theme.min.js"></script>
