<!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page -->
<header class="navbar navbar-expand-lg fixed-top bg-secondary">
    <div class="container">

      <!-- Navbar brand (Logo) -->
      <a class="navbar-brand pe-sm-3" href="{{ site.url }}">
        <span class="text-primary flex-shrink-0 me-2">
            <img src="{{ site.baseurl }}/assets/icons/logo_2024.png" alt="SignalOrange Logo" width="120" height="120">       
        </span>
      </a>

      <!-- Mobile menu toggler (Hamburger) -->
      <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar collapse (Main navigation) -->
      <nav class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
          <li class="nav-item dropdown">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="bi bi-currency-bitcoin fs-4"></i>Bitcoin</a>
            <ul class="dropdown-menu bg-secondary">
                <li><a class="dropdown-item" href="{{ site.baseurl }}/bitcoin/#ateliers"><i class="bi bi-info-circle fs-4 "></i>&nbsp;Ateliers de formation</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/bitcoin/#outil_financier"><i class="bi bi-bank fs-4"></i>&nbsp;Outil financier</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/bitcoin/#gestion_mine"><i class="bi bi-minecart-loaded fs-4"></i>&nbsp;Gestion de mine</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/bitcoin/#recup_chaleur"><i class="bi bi-thermometer-sun fs-4"></i>&nbsp;Récupération de chaleur</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services</a>
            <ul class="dropdown-menu bg-secondary">
                <li><a class="dropdown-item" href="{{ site.baseurl }}/services/#accompagnement"><i class="bi bi-person-raised-hand fs-4 "></i>&nbsp;Accompagnement technologique</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/services/#integration"><i class="bi bi-database-check fs-4"></i>&nbsp;Intégrations de logiciels</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/services/#domaines"><i class="bi bi-cloud-check fs-4"></i>&nbsp;Gestion de domaines</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/services/#cybersecurite"><i class="bi bi-shield-lock fs-4"></i>&nbsp;Cybersécurité</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/services/#fidelio"><i class="bi bi-code-square fs-4"></i>&nbsp;Développement Fidelio</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://calendrier.signalorange.tech/jacob">Nous joindre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://facturation.signalorange.tech/client/login">Espace client</a>
          </li>
        </ul>
        
      </nav>
    </div>
  </header>