<head>
    <meta charset="utf-8">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    
    <!-- SEO meta tags -->
    <title>{{ site.title | escape }}{% if page.title %}{{ page.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="bootstrap, business, corporate, services, informatique, fidelio, bitcoin, consultant, enseignant">
    <meta name="author" content="SignalOrange">
    <meta property="og:title" content="SignalOrange | Libérez vos technologies" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/hero3.png" />
    <meta property="og:locale" content="fr_CA" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/site.webmanifest">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Import Google font (Inter) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap" rel="stylesheet" id="google-font">

    <!-- Vendor styles -->
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/vendor/aos/dist/aos.css">

    <!-- Theme styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/css/theme.min.css">


    <!-- Customizer generated styles -->
    <style id="customizer-styles">
        :root{
            --ar-primary:#DE9043;
            --ar-primary-rgb:222,144,67;
            --ar-link-color:#DE9043;
            --ar-link-hover-color:#c5772a;
            --ar-border-width:1px;
            --ar-border-radius:0.75rem;
            --ar-body-font-family:"Fragment Mono";
            --ar-root-font-size:0.75rem;
            --ar-body-font-size:1.375rem;
        }
        .btn-primary{
            --ar-btn-bg:#DE9043;
            --ar-btn-border-color:#DE9043;
            --ar-btn-hover-bg:#c5772a;
            --ar-btn-hover-border-color:#c5772a;
            --ar-btn-active-bg:#c5772a;
            --ar-btn-active-border-color:#c5772a;
            --ar-btn-disabled-bg:#DE9043;
            --ar-btn-disabled-border-color:#DE9043;
        }
        .btn-outline-primary{
            --ar-btn-color:#DE9043;
            --ar-btn-border-color:#DE9043;
            --ar-btn-hover-bg:#DE9043;
            --ar-btn-hover-border-color:#DE9043;
            --ar-btn-active-bg:#DE9043;
            --ar-btn-active-border-color:#DE9043;
            --ar-btn-disabled-color:#DE9043;
            --ar-btn-disabled-border-color:#DE9043;
        }
        .accordion-button:not(.collapsed)::after{
            --ar-accordion-btn-active-icon:url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%20fill='%23DE9043'%3e%3cpath%20d='M.5%206.3c.6-.6%201.6-.6%202.3%200l9.3%209.3%209.3-9.3c.6-.6%201.6-.6%202.3%200%20.6.6.6%201.6%200%202.3L13.3%2018.8c-.6.6-1.6.6-2.3%200L.8%208.5c-.9-.8-.9-1.6-.3-2.2z'/%3e%3c/svg%3e");
        }
        
        </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script defer src="https://analytics.signalorange.tech/script.js" data-website-id="d080dbcf-e135-45bc-a197-a51d65dc922d"></script>
  </head>