---
layout: default
---

      <!-- Services -->
      <section class="container py-4 py-sm-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5" >

        <!-- Item -->
        <div class="row align-items-center py-4 py-xl-5 my-2" id="accompagnement">
          <div class="col-md-6 offset-xl-1 order-md-2 pb-2 mb-4 mb-md-0">
            <img class="rounded-5" src="../assets/img/services/v3/accompagnement.jpg" alt="Image">
          </div>
          <div class="col-md-6 col-xl-5 order-md-1">
            <div class="pe-md-4 pe-xl-0">
              <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-person-raised-hand"></i>&nbsp;Accompagnement technologique</h2>
              <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Un accompagnement personnalisé, vous guidant vers les bons choix technologiques.</p>
              <div class="row row-cols-2">
                <div class="col">
                  <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                    <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/monitor-dark.svg" width="28" alt="Icon">
                    <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/monitor-light.svg" width="28" alt="Icon">
                  </div>
                  <h3 class="h5 mb-2">Services informatiques</h3>
                  <p class="fs-sm mb-0">Faire des choix éclairés concernant les services qui propulsent votre entreprise.</p>
                </div>
                <div class="col">
                  <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                    <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/cloud-dark.svg" width="28" alt="Icon">
                    <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/cloud-light.svg" width="28" alt="Icon">
                  </div>
                  <h3 class="h5 mb-2">Infonuagique & IA</h3>
                  <p class="fs-sm mb-0">Ajoutez ces outils à votre arsenal.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div class="row align-items-center py-4 py-xl-5 my-2" id="integration">
          <div class="col-md-6 pb-2 mb-4 mb-md-0"><img class="rounded-5" src="../assets/img/services/v3/table.jpg" alt="Image"></div>
          <div class="col-md-6 col-xl-5 offset-xl-1">
            <div class="ps-md-4 pe-xl-0">
              <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-database-check"></i>&nbsp;Intégrations de logiciels</h2>
              <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Créez une synergie entre tous vos outils, grâce à des ponts fait sur mesure entre tous vos logiciels.</p>
              <div class="row row-cols-2">
                <div class="col">
                  <div class="d-table bg-secondary rounded-1 p-2 mb-3"><img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/cog-dark.svg" width="28" alt="Icon"><img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/cog-light.svg" width="28" alt="Icon"></div>
                  <h3 class="h5 mb-2">API</h3>
                  <p class="fs-sm mb-0">Développement d'un API spécialisé pour que vos plateformes communiquent en temps réel.</p>
                </div>
                <div class="col">
                  <div class="d-table bg-secondary rounded-1 p-2 mb-3"><img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/time-dark.svg" width="28" alt="Icon"><img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/time-light.svg" width="28" alt="Icon"></div>
                  <h3 class="h5 mb-2">Import/Export</h3>
                  <p class="fs-sm mb-0">Outils d'importations et d'exportations manuels ou automatisés.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div class="row align-items-center py-4 py-xl-5 my-2" id="domaines">
          <div class="col-md-6 offset-xl-1 order-md-2 pb-2 mb-4 mb-md-0">
            <img class="rounded-5" src="../assets/img/services/v3/domaines.jpg" alt="Image">
          </div>
          <div class="col-md-6 col-xl-5 order-md-1">
            <div class="pe-md-4 pe-xl-0">
              <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-cloud-check"></i>&nbsp;Gestion de domaines</h2>
              <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Laissez-nous gérer cette bureaucratie et concentrez-vous sur votre valeur ajoutée.</p>
              <div class="row row-cols-2">
                <div class="col">
                  <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                    <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/monitor-dark.svg" width="28" alt="Icon">
                    <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/monitor-light.svg" width="28" alt="Icon">
                  </div>
                  <h3 class="h5 mb-2">DNS</h3>
                  <p class="fs-sm mb-0">Configuration de tous les services reliées à votre domaine.</p>
                </div>
                <div class="col">
                  <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                    <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/size-dark.svg" width="28" alt="Icon">
                    <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/size-light.svg" width="28" alt="Icon">
                  </div>
                  <h3 class="h5 mb-2">Courriels</h3>
                  <p class="fs-sm mb-0">Sécuriser vos courriels et éviter qu'ils soit identifiés comme des pourriels.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Item -->
        <div class="row align-items-center py-4 py-xl-5 my-2" id="cybersecurite">
            <div class="col-md-6 pb-2 mb-4 mb-md-0"><img class="rounded-5" src="../assets/img/services/v3/securite.jpg" alt="Image"></div>
            <div class="col-md-6 col-xl-5 offset-xl-1">
              <div class="ps-md-4 pe-xl-0">
                <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-shield-lock"></i>&nbsp;Cybersécurité</h2>
                <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Plans d'actions personnalisés et basés sur les bonnes pratiques, pour renforcer votre résilience aux attaques.</p>
                <div class="row row-cols-2">
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3"><img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/cog-dark.svg" width="28" alt="Icon"><img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/cog-light.svg" width="28" alt="Icon"></div>
                    <h3 class="h5 mb-2">Processus sécurisés</h3>
                    <p class="fs-sm mb-0">Mise en place de processus sécuritaites, conformes aux normes et bonnes pratiques.</p>
                  </div>
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3"><img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/time-dark.svg" width="28" alt="Icon"><img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/time-light.svg" width="28" alt="Icon"></div>
                    <h3 class="h5 mb-2">Données personnelles</h3>
                    <p class="fs-sm mb-0">Gestion des données personnelles et de la vie privée.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Item -->
        <div class="row align-items-center py-4 py-xl-5 my-2" id="fidelio">
            <div class="col-md-6 offset-xl-1 order-md-2 pb-2 mb-4 mb-md-0">
              <img class="rounded-5" src="../assets/img/services/v3/fidelio2.jpg" alt="Image">
            </div>
            <div class="col-md-6 col-xl-5 order-md-1">
              <div class="pe-md-4 pe-xl-0">
                <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-code-square"></i>&nbsp;Développement Fidelio</h2>
                <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Notre expert Fidelio peut vous aider à améliorer vos processus d'affaires, vous donner de la visibilité aux points critiques et développer des modules personnalisés.</p>
                <div class="row row-cols-2">
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                      <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/monitor-dark.svg" width="28" alt="Icon">
                      <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/monitor-light.svg" width="28" alt="Icon">
                    </div>
                    <h3 class="h5 mb-2">Maitrise des outils</h3>
                    <p class="fs-sm mb-0">Incorporez les modules avancés dans votre quotidien, ou l'outil Nestor pour automatiser des tâches complexes.</p>
                  </div>
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                        <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/size-dark.svg" width="28" alt="Icon">
                        <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/size-light.svg" width="28" alt="Icon">
                    </div>
                    <h3 class="h5 mb-2">Développement sur mesure</h3>
                    <p class="fs-sm mb-0">Création de vues d'analyse, d'indicateurs et de code client, pour répondre à vos besoins.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          
      </section>


      <!-- Partners 
      <section class="container pt-2 pt-sm-0">
        <h2 class="h1 text-center">We partner with more than 60 brands</h2>
        <p class="text-center pb-2 pb-sm-3">Clients who have become our friends for many years</p>
        <div class="row row-cols-3 row-cols-md-4 g-2 g-md-4">
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/auchan.svg" width="220" alt="Auchan">
          </div>
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/suzuki.svg" width="220" alt="Suzuki">
          </div>
          <div class="col">
            <img class="d-block d-dark-mode-none mx-auto" src="../assets/img/brands/champion-dark.svg" width="220" alt="Champion">
            <img class="d-none d-dark-mode-block mx-auto" src="../assets/img/brands/champion-light.svg" width="220" alt="Champion">
          </div>
          <div class="col">
            <img class="d-block d-dark-mode-none mx-auto" src="../assets/img/brands/starcraft-dark.svg" width="220" alt="Starcraft">
            <img class="d-none d-dark-mode-block mx-auto" src="../assets/img/brands/starcraft-light.svg" width="220" alt="Starcraft">
          </div>
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/klinos.svg" width="220" alt="Klinos"></div>
          <div class="col">
            <img class="d-block d-dark-mode-none mx-auto" src="../assets/img/brands/puma-dark.svg" width="220" alt="Puma">
            <img class="d-none d-dark-mode-block mx-auto" src="../assets/img/brands/puma-light.svg" width="220" alt="Puma">
          </div>
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/airbnb.svg" width="220" alt="Airbnb">
          </div>
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/philips.svg" width="220" alt="Philips">
          </div>
        </div>
      </section>-->


      {% include competences.html %}
    </main>

    