<!DOCTYPE html>
<html lang="fr" data-bs-theme="light">

  {% include head.html %}

  <body style="background-color: rgb(244,238,222);">
    <!-- Page wrapper -->
    <main class="page-wrapper">
        {% include header.html %}

        {{ content }}

    </main>
    {% include cta.html %}
    {% include footer.html %}

  </body>

</html>
