---
layout: default
---
      <!-- Hero -->
      <section class="jarallax bg-dark py-5" data-jarallax data-speed="0.6" data-bs-theme="dark">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-60"></div>
        <div class="jarallax-img" style="background-image: url(../assets/img/services/v3/bitcoin.jpg);"></div>
        <div class="container position-relative z-2 pt-5 pb-md-2 pb-lg-3 pb-xl-4 pb-xxl-5">

          <!-- Page title -->
          <div class="d-none d-xxl-block" style="height: 170px;"></div>
          <div class="d-none d-lg-block d-xxl-none" style="height: 120px;"></div>
          <div class="d-none d-md-block d-lg-none" style="height: 80px;"></div>
          <div class="d-md-none" style="height: 40px;"></div>
          <h1 class="display-2 mb-4 text-primary"><i class="bi bi-currency-bitcoin"></i>Bitcoin</h1>
          <p class="text-body mb-0" style="max-width: 480px;">Nous offrons des solutions créatives et
            innovantes afin de vous permettre d’affronter les défis liés aux technologie en constante évolution.</p>

          <!-- Features -->
          <div class="d-none d-xxl-block" style="height: 220px;"></div>
          <div class="d-none d-lg-block d-xxl-none" style="height: 160px;"></div>
          <div class="d-none d-md-block d-lg-none" style="height: 100px;"></div>
          <div class="d-md-none" style="height: 50px;"></div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 pb-1 pb-md-3">
            <div class="col">
              <div class="d-flex align-items-center">
                <div class="position-rlative flex-shrink-0 rounded-1 overflow-hidden p-2">
                  <div class="bg-white opacity-40 position-absolute top-0 start-0 w-100 h-100"></div>
                  <img class="d-block m-1" src="../assets/img/services/v3/icons/time-white.svg" width="32" alt="Icon">
                </div>
                <h3 class="h5 ps-3 mb-0">Accompagnement personnalisé</h3>
              </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">
                <div class="position-rlative flex-shrink-0 rounded-1 overflow-hidden p-2">
                  <div class="bg-white opacity-40 position-absolute top-0 start-0 w-100 h-100"></div>
                  <img class="d-block m-1" src="../assets/img/services/v3/icons/cog-white.svg" width="32" alt="Icon">
                </div>
                <h3 class="h5 ps-3 mb-0">Processus efficaces</h3>
              </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">
                <div class="position-rlative flex-shrink-0 rounded-1 overflow-hidden p-2">
                  <div class="bg-white opacity-40 position-absolute top-0 start-0 w-100 h-100"></div>
                  <img class="d-block m-1" src="../assets/img/services/v3/icons/monitor-white.svg" width="32" alt="Icon">
                </div>
                <h3 class="h5 ps-3 mb-0">Amélioration continue</h3>
              </div>
            </div>
            <div class="col">
              <div class="d-flex align-items-center">
                <div class="position-rlative flex-shrink-0 rounded-1 overflow-hidden p-2">
                  <div class="bg-white opacity-40 position-absolute top-0 start-0 w-100 h-100"></div>
                  <img class="d-block m-1" src="../assets/img/services/v3/icons/size-white.svg" width="32" alt="Icon">
                </div>
                <h3 class="h5 ps-3 mb-0">Services complets</h3>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Services -->
      <section class="container py-4 py-sm-5 my-md-2 my-lg-3 my-xl-4 my-xxl-5" >

        <!-- Item -->
        <div class="row align-items-center py-4 py-xl-5 my-2" id="ateliers">
          <div class="col-md-6 offset-xl-1 order-md-2 pb-2 mb-4 mb-md-0">
            <img class="rounded-5" src="../assets/img/services/v3/ateliers.jpg" alt="Image">
          </div>
          <div class="col-md-6 col-xl-5 order-md-1">
            <div class="pe-md-4 pe-xl-0">
              <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-info-circle"></i>&nbsp;Ateliers de formation</h2>
              <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Ateliers en entreprise pour comprendre cette nouvelle réalité, s'y adapter et éviter les arnaques.</p>
              <div class="row row-cols-2">
                <div class="col">
                  <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                    <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/monitor-dark.svg" width="28" alt="Icon">
                    <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/monitor-light.svg" width="28" alt="Icon">
                  </div>
                  <h3 class="h5 mb-2">Adaptés</h3>
                  <p class="fs-sm mb-0">Ateliers adaptés au niveau de connaissance et besoins de l'entreprise.</p>
                </div>
                <div class="col">
                  <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                    <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/size-dark.svg" width="28" alt="Icon">
                      <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/size-light.svg" width="28" alt="Icon">
                  </div>
                  <h3 class="h5 mb-2">Éviter les fraudes</h3>
                  <p class="fs-sm mb-0">Les gens avisés sont beaucoup moins à risque de tomber dans le panneau des arnaques.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

       
        <!-- Item -->
        <div class="row align-items-center py-4 py-xl-5 my-2" id="outil_financier">
            <div class="col-md-6 pb-2 mb-4 mb-md-0"><img class="rounded-5" src="../assets/img/services/v3/finance.jpg" alt="Image"></div>
            <div class="col-md-6 col-xl-5 offset-xl-1">
              <div class="ps-md-4 pe-xl-0">
                <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-bank"></i>&nbsp;Outil financier</h2>
                <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Le Bitcoin comme outil financier pour l'entreprise et le particulier.</p>
                <div class="row row-cols-2">
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3"><img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/cog-dark.svg" width="28" alt="Icon"><img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/cog-light.svg" width="28" alt="Icon"></div>
                    <h3 class="h5 mb-2">Avantages</h3>
                    <p class="fs-sm mb-0">Ajoutez de la résilience à votre portefeuille d'entreprise.</p>
                  </div>
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3"><img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/time-dark.svg" width="28" alt="Icon"><img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/time-light.svg" width="28" alt="Icon"></div>
                    <h3 class="h5 mb-2">Inconvénients</h3>
                    <p class="fs-sm mb-0">Apprennez à limiter les risques.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Item -->
          <div class="row align-items-center py-4 py-xl-5 my-2" id="gestion_mine">
            <div class="col-md-6 offset-xl-1 order-md-2 pb-2 mb-4 mb-md-0">
              <img class="rounded-5" src="../assets/img/services/v3/mine.jpg" alt="Image">
            </div>
            <div class="col-md-6 col-xl-5 order-md-1">
              <div class="pe-md-4 pe-xl-0">
                <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-minecart-loaded"></i>&nbsp;Gestion de mine</h2>
                <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Réduisez votre stress en laissant la gestion et l'opération de votre mine à des experts qui font ce travail depuis plus de dix ans.</p>
                <div class="row row-cols-2">
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                      <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/monitor-dark.svg" width="28" alt="Icon">
                      <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/monitor-light.svg" width="28" alt="Icon">
                    </div>
                    <h3 class="h5 mb-2">Bains d'immersion</h3>
                    <p class="fs-sm mb-0">Refroidir les machines dans des bains faits sur mesure.</p>
                  </div>
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3">
                        <img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/cloud-dark.svg" width="28" alt="Icon">
                        <img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/cloud-light.svg" width="28" alt="Icon">
                    </div>
                    <h3 class="h5 mb-2">Rapports</h3>
                    <p class="fs-sm mb-0">Coûts de production détaillés et rapports de revenus.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <!-- Item -->
         <div class="row align-items-center py-4 py-xl-5 my-2" id="recup_chaleur">
            <div class="col-md-6 pb-2 mb-4 mb-md-0"><img class="rounded-5" src="../assets/img/services/v3/chaleur.jpg" alt="Image"></div>
            <div class="col-md-6 col-xl-5 offset-xl-1">
              <div class="ps-md-4 pe-xl-0">
                <h2 class="h1 pb-2 pb-lg-3 text-primary"><i class="bi bi-thermometer-sun"></i>&nbsp;Récupération de chaleur</h2>
                <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Chauffez vos bâtimments à moindre coût grâce à nos systèmes intelligents à plusieurs zones.</p>
                <div class="row row-cols-2">
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3"><img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/cog-dark.svg" width="28" alt="Icon"><img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/cog-light.svg" width="28" alt="Icon"></div>
                    <h3 class="h5 mb-2">Chauffage d'air</h3>
                    <p class="fs-sm mb-0">Chauffer l'air de vos espaces en réduisant votre dépense.</p>
                  </div>
                  <div class="col">
                    <div class="d-table bg-secondary rounded-1 p-2 mb-3"><img class="d-block d-dark-mode-none m-1" src="../assets/img/services/v3/icons/time-dark.svg" width="28" alt="Icon"><img class="d-none d-dark-mode-block m-1" src="../assets/img/services/v3/icons/time-light.svg" width="28" alt="Icon"></div>
                    <h3 class="h5 mb-2">Plaques thermiques</h3>
                    <p class="fs-sm mb-0">Chauffer des circuits d'eau et créer des zones isolées.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          
      </section>


      <!-- Partners 
      <section class="container pt-2 pt-sm-0">
        <h2 class="h1 text-center">We partner with more than 60 brands</h2>
        <p class="text-center pb-2 pb-sm-3">Clients who have become our friends for many years</p>
        <div class="row row-cols-3 row-cols-md-4 g-2 g-md-4">
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/auchan.svg" width="220" alt="Auchan">
          </div>
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/suzuki.svg" width="220" alt="Suzuki">
          </div>
          <div class="col">
            <img class="d-block d-dark-mode-none mx-auto" src="../assets/img/brands/champion-dark.svg" width="220" alt="Champion">
            <img class="d-none d-dark-mode-block mx-auto" src="../assets/img/brands/champion-light.svg" width="220" alt="Champion">
          </div>
          <div class="col">
            <img class="d-block d-dark-mode-none mx-auto" src="../assets/img/brands/starcraft-dark.svg" width="220" alt="Starcraft">
            <img class="d-none d-dark-mode-block mx-auto" src="../assets/img/brands/starcraft-light.svg" width="220" alt="Starcraft">
          </div>
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/klinos.svg" width="220" alt="Klinos"></div>
          <div class="col">
            <img class="d-block d-dark-mode-none mx-auto" src="../assets/img/brands/puma-dark.svg" width="220" alt="Puma">
            <img class="d-none d-dark-mode-block mx-auto" src="../assets/img/brands/puma-light.svg" width="220" alt="Puma">
          </div>
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/airbnb.svg" width="220" alt="Airbnb">
          </div>
          <div class="col">
            <img class="d-block mx-auto" src="../assets/img/brands/philips.svg" width="220" alt="Philips">
          </div>
        </div>
      </section>-->
      {% include competences.html %}

      
   